<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/popupstyle.css">
	</head>
	<body>
		<table>
			
			<tr>
				<th><img src="/media/icon48.png" /></a></th>
				<td class="title-bar">
					<p class="top-heading"><b>Sailthru Smart Browser Extension</b></p>
					<p class="top-heading">&#169; 2015 | Created by Joe Pikowski</p>
				</td>
			</tr>
		</table>
		<table>
			<tbody>
				<tr>
					<td style="text-align:center"><b>MY, SU, DB, ZD, FB</b></td>
				</tr>
				<tr>
					<td><b>Examples:</b></td>
				</tr>
				<tr>
					<td class="example">st my profile email@example.com c:766</td>
				</tr>
				<tr>
					<td class="example">st su blasts sending 766</td>
				</tr>
				<tr>
					<td class="example">st db schedule.trigger c:842 {"status":"executed"} l:50</td>
				</tr>
				<tr>
					<td class="example">st zd 147486</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>